@import url("https://fonts.googleapis.com/css?family=Lato:400i,600");



@keyframes getBlurry {
  0% {
    filter: blur(0px);
    transform: scale(1);
  }
  100% {
    filter: blur(10px);
    transform: scale(1.2);
  }
}

.chat {
    position: relative;
    display: inline-block;
    width: 40vw;
    min-width: 400px;
    max-width: 80%;
    animation: popFromBottom 0.5s ease-in-out;
    float:right;
}

@keyframes popFromBottom {
  0% {
    transform: translateY(300px) scale(0);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

img {
    height: 22vmin;
    margin-left: -30%;
}

.profile {
    display:  inline-block;
    width: 22vmin;
    height: 22vmin;
    border-radius:  50%;
    overflow:  hidden;
    position: absolute;
    left: -16vmin;
    top: -1vmin;
    border: 1vmin solid #fff;
}

.message {
    background: #ffe271;
    padding: 2vmin 5vmin 2vmin 10vmin;
    border-radius: 0px 50px 50px 0px;
    font-size: 3vmin;
    text-align: left;
}

.user {
  text-align: left;
  padding: 2px 30px 5px 60px;
  border-radius: 0px 0px 20px;
  font-size: 3.2vmin;
  background: #fff;
  color: #83aebd;
  display: inline-block;
  float: left;
  font-weight: 600;
  font-style: normal;
}

/* KNJIGA.php */
.kinfo{
  float: left;
  
  margin-top: 80px;
  
  }
  .knjiga{
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    width: auto;
  }

  .knaslov {
    width: auto;
    padding-left: 30px;
  }
  
  .kgumbovi {
    margin-top: 5px;
  
  }
  .kslika{
    padding-left: 150px;
    width: auto;
    height: auto;
  }
  
  /*..............RATING............*/
  .rate {
    float:left;
    
    
    
  }
  .ocijeni {
    margin-top: 5px;
  }
  
  .rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
  }
  .rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:40px;
    color:#ccc;
  }
  .rate:not(:checked) > label:before {
    content: '★ ';
  }
  .rate > input:checked ~ label {
    color: #ffc700;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }

  
